/* General */
body{
    border: 2px solid yellowgreen;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* 100vh is one 'scroll' */
    min-height: 200vh;
    margin: 0;
    border: 0;
}

img{
    height: 20vh;
    width: auto;
    border-radius: 8px;
}

/* Header elements */
.header{
    display: flex;
    height: 72px;
    padding: 0 8em;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.right,
.left{
    display: flex;
}

.left{
    gap: 2em;
}

.logo{
    font-size: 32px;
}

a{
    gap: 16px;
}

/* Introduction elements */
.introduction {
    border: 2px solid orange;
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 48vh;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid black;
    display: flex;
}


/* Information elements */
.information {
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.dessous {
    display: flex;
    gap: 8vh;
}

.haut {
    font-weight: 600;
    font-size: 28px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 20vh;
}

.image {
    display: flex;
    border: 4px solid #3882f6;
}

/* Quotes elements */
.quote_place {
    border: 2px solid greenyellow;
    height: 48vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    border: 2px solid green;
    width: 80vh;
    font-size: 32px;
    font-family: fantasy;
}

.person {
    display: flex;
    border: 2px solid yellow;
    width: 80vh;
}

/* Action message elements */
.action {
    border: 2px solid red;
    display: flex;
    height: 32vh;
    justify-content: center;
    align-items: center;
}

/* Footer elements */
.footer {
    border: 2px solid purple;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}